<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771540732177-ctjlq20gm7phif6kolf8dev5ntvqbsj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771540732177-ctjlq20gm7phif6kolf8dev5ntvqbsj1</string>
	<key>API_KEY</key>
	<string>AIzaSyCf6gWSLDSblSTnkNzAn1WB5X-s9fEoFoo</string>
	<key>GCM_SENDER_ID</key>
	<string>771540732177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sporty</string>
	<key>PROJECT_ID</key>
	<string>sporty-c8869</string>
	<key>STORAGE_BUCKET</key>
	<string>sporty-c8869.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771540732177:ios:d732e4f978cc2a0a8424b0</string>
</dict>
</plist>